<div class="modal-overlay">
  <div class="modal-content">
    <button class="close-btn" (click)="onCerrar()">x</button>

    <div class="left">
      <h2>{{ titulo }}</h2>
      <p class="sub">{{ descripcion }}</p>

      <p><strong>Salary:</strong> {{ salario }} €/mes</p>
      <p><strong>Contract type:</strong> {{ tipoContrato }}</p>
      <p><strong>Starting date:</strong> {{ inicio }}</p>

      <div class="bottom-buttons">
        <button class="heart-btn" (click)="toggleFavorito()">
          <mat-icon>{{ favorito ? "favorite" : "favorite_border" }}</mat-icon>
        </button>
      </div>
    </div>

    <div class="right">
      <img *ngIf="logo" [src]="logo" alt="Logo empresa" />
      <button
        class="apply-btn"
        (click)="aplicar()"
        [disabled]="yaAplicado || aplicando"
        *ngIf="!esCreador"
      >
        {{ yaAplicado ? "You have applied" : "Apply" }}
      </button>
      <!-- Botones solo visibles si es el creador -->
      <div *ngIf="esCreador" class="admin-actions">
        <button class="edit-btn" (click)="editarOferta()">Edit</button>
        <button class="delete-btn" (click)="confirmarEliminar()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
